@font-face{
  font-family:'FontAwesome';
  src:url('../font/fontawesome-webfont.eot?v=3.0.1');
  src:url('../font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
  url('../font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
  url('../font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight:normal;
  font-style:normal }
body {
    background-color: #f6f6f6;
}

#header {
    background: #064482;
    background-image: linear-gradient(45deg,#064482, #430740);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
    padding:30px 0px;
    color:#ffffff;
    margin-bottom:20px;
}
#header h1 {
    color:#ffffff;
    font-size:50px;
    line-height:50px;
    font-weight:400;
    text-align:center;
    }

.widget {
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    overflow: hidden;
}
.widget h3 {
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #eaeaea;
    background-color: #fbfbfb;
    margin: 0;
    padding: 11px 15px 10px;
}
.widget h3 i{
    margin-right:8px;
    color:#0000ff;
}
.widget .chart{
    height:600px;
    min-width:200px;
    padding-top:30px;
    padding-bottom:10px;
}
.widget .ac-table th,.widget .ac-table td{
    text-align:center;
}

.main-pick {
    position:absolute;
    right:0;
    top:200px;
    width:200px;
    padding:10px 20px;
    background-color:#ffffff;
    border-radius:4px;
    border: 1px solid #eaeaea;
}
.main-pick select{
    background-color:#eee;
}

i[class^="icon-"] {
    width: 1.25em;
    text-align: center;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    margin-top: 0;
    text-decoration: inherit;
    speak: none;
}
.icon-signer:before {
    content: "\f012";
}
.icon-list-of:before {
    content: "\f0cb";
}